#content {
	margin: 0px;
	padding: 0px;
}

.header {
	width: calc(100% - (15% + 5px));
	background-color: #0072dd;
	color: #fff;
	font-size: 20pt;
	padding: 5px;
	padding-left: 15%;
	vertical-align: middle;
	line-height: 100%;
}

.header > a.nav {
	font-size: 24pt;
}

.game-summary {
	position: relative;
	display: inline-block;
	width: 23%;
	margin: 20px 1% 5px 1%;
}

.game-summary::after {
	position: absolute;
	left: 10px;
	height: 24px;
	width: 24px;
	background-color: #222;
	color: #fff;
	content: 'vs';
	border-radius: 12px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	text-align: center;
	font-size: 14pt;
	vertical-align: middle;
	line-height: 100%;
}

.team {
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	background-size: auto 140%;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.team > .record {
	font-size: 14pt;
	position: absolute;
	top: 15px;
	right: 150px;
}

.team > .city {
	font-size: 16pt;
	position: absolute;
	top: 15px;
	left: 8px;
}

.team > .name {
	font-size: 32pt;
	position: absolute;
	bottom: 10px;
	left: 5px;
}

.score {
	position: absolute;
	right: 5px;
	height: 80px;
	width: 80px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	background-color: #222;
	color: #fff;
	font-size: 48pt;
	overflow: hidden;
	box-shadow: 0px 0px 0px 3px #fff;
}

.score.away {
	top: 10px;
}

.score.home {
	bottom: 10px;
}

#game .team {
	display: inline-block;
	width: 50%;
	height: 200px;
}

#game .team > .record {
	font-size: 32pt;
	right: 35%;
}

#game .team > .city {
	font-size: 32pt;
}

#game .team > .name {
	font-size: 64pt;
}

#team-view > .body {
	background-repeat: no-repeat;
	background-size: 20% auto;
	background-position: 1% 80%;
}

#game .away-details,
#game .home-details {
	position: absolute;
	top: 400px;
	width: 45%;
}

#game .away-details{
	left: 20px;
}

#game .home-details{
	right: 20px;
}

#game .summary,
#team-view table,
#standings table,
#stats table {
	border: none;
	width: 50%;
	margin-left: 25%;
	margin-top: 25px;
}

table.schedule {
	position: absolute;
	right: 5px;
	top: 400px;
	width: 23% !important;
	background-color: #fff;
}

#team-view .team {
	display: inline-block;
	width: 100%;
	height: 200px;
	background-size: auto 200%;
	background-position: 80% 50%;
}

#team-view .team > .record {
	font-size: 32pt;
	right: 45%;
}

#team-view .team > .city {
	font-size: 44pt;
	left: 15%;
}

#team-view .team > .name {
	font-size: 72pt;
	left: 15%;
}

.team > .city:hover {
	text-decoration: underline;
	cursor: pointer;
}

.team > .name:hover {
	text-decoration: underline;
	cursor: pointer;
}

#game .score {
	height: 50px;
	width: 50px;
	font-size: 32pt;
	bottom: 15px;
	right: 15px;
	box-shadow: 0px 0px 0px 3px #fff;
}

.summary td:hover {
	background-color: #444;
}

@media only screen and (max-width: 1400px) {

	#game .team > .record {
		font-size: 28pt;
		right: 45%;
	}

	#game .team > .name {
		font-size: 56pt;
	}
	
	.game-summary {
		width: 30%;
	}
}

@media only screen and (max-width: 500px) {

	.links {
		top: 0px;
	}

	#top.nacl > .links::before {
		content: 'NACL';
		left: 5px;
	}

	#top {
		height: 55px;
	}
	
	#top > .logo {
		display: none;
	}
	
	.game-summary {
		width: 98%;
	}
}
	
#footer {
	display: none;
}