#content {
	margin: 0px;
	padding: 0px;
}

#content > div > .header {
	width: calc(100% - (5% + 5px));
	background-color: #444;
	color: #fff;
	font-size: 20pt;
	padding: 5px;
	padding-left: 5%;
	vertical-align: middle;
	line-height: 100%;
}

#content .body {
	margin-left: 5%;
	margin-right: 5%;
}

a {
	color: inherit;
}

.header > a {
	color: inherit;
}

.header > a:hover {
	text-decoration: none;
}

.header > a.nav {
	font-size: 24pt;
}

.header > .links {
	line-height: 32px;
}

.game-summary {
	position: relative;
	display: inline-block;
	width: 48%;
	margin: 20px 1% 5px 0%;
}

.game-summary::after {
	position: absolute;
	left: 10px;
	height: 24px;
	width: 24px;
	background-color: #222;
	color: #fff;
	content: 'vs';
	border-radius: 12px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	text-align: center;
	font-size: 14pt;
	vertical-align: middle;
	line-height: 100%;
}

.team {
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	background-size: auto 140%;
	background-position: 70% 50%;
	background-repeat: no-repeat;
}

.team:not(first-child) {
	border-top: solid thin white;
}

.team > .record {
	font-size: 14pt;
	position: absolute;
	top: 15px;
	left: 40%;
}

.team > .games-back {
	font-size: 14pt;
	position: absolute;
	bottom: 1px;
	right: 150px;
	display: none;
	z-index: 5;
}

.team > .city {
	font-size: 16pt;
	position: absolute;
	top: 15px;
	left: 8px;
	z-index: 4;
}

.team > .name {
	font-size: 32pt;
	position: absolute;
	bottom: 15px;
	left: 7px;
}

.score {
	position: absolute;
	right: 5px;
	height: 80px;
	width: 80px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	font-size: 48pt;
	overflow: hidden;
}

.score.away {
	top: 10px;
}

.score.home {
	bottom: 10px;
}

#game .team {
	display: inline-block;
	width: calc(50% - 1px);
	height: 200px;
	background-size: auto 100%;
	background-position: 75% 0%;
}

#game .team:not(first-child) {
	border-top: none;
	border-left: solid thin white;
}

#game .team > .record {
	font-size: 32pt;
	top: 58%;
	left: 7px;
}

#game .team > .games-back {
	font-size: 16pt;
	left: 7px;
	display: block;
}

#game .team > .city {
	font-size: 24pt;
}

#game .team > .name {
	font-size: 32pt;
	bottom: 50%
}

#team-view > .body {
	background-repeat: no-repeat;
	background-size: 20% auto;
	background-position: 1% 40%;
}

#game .away-details,
#game .home-details {
	display: inline-block;
	width: 50%;
	position: relative;
}

#game .home-details {
	text-align: right;
}

#game .home-details > table {
	margin-right: 0px;
	margin-left: auto;
}

#game .pct-chance {
	position: absolute;
	top: 20px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

#game .away-details .pct-chance {
	right: 0px;
	text-align: right;
	padding-right: 3px;
}

#game .home-details .pct-chance {
	left: 1px;
	text-align: left;
	padding-left: 3px;
}

#game .summary,
#team-view table,
#standings table,
#stats table {
	position: relative;
	text-align: center;
	border: none;
	margin-top: 25px;
	border-collapse: separate; 
	border-spacing: 0px 1px;
	display: inline-block;
}

.stats-container {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	padding-left: 15px;
}

.stat {
	font-size: 16pt;
	margin: 10px 0px;
}

table.schedule {
	position: absolute;
	right: 5px;
	top: 400px;
	width: 23% !important;
	background-color: #fff;
}

#team-view {
	position: relative;
}

#team-view .team {
	display: inline-block;
	width: 70%;
	height: 200px;
	background-size: auto 100%;
	background-position: 80% 50%;
}

#team-view .team > .record {
	font-size: 32pt;
	top: auto;
	bottom: 5px;
	left: 5%;
	z-index: 4;
	font-size: 24pt;
}

#team-view .team > .games-back {
	font-size: 24pt;
	left: 15%;
	display: block;
}

#team-view .team > .city {
	font-size: 44pt;
	left: 5%;
}

#team-view .team > .name {
	font-size: 72pt;
	left: calc(5% - 5px);
	bottom: 24px;
}

#team-view .schedule {
	position: absolute;
	right: 15px;
	top: 15px;
}

.team > .city:hover {
	text-decoration: underline;
	cursor: pointer;
}

.team > .name:hover {
	text-decoration: underline;
	cursor: pointer;
}

#game .score {
	height: 50px;
	width: 50px;
	background-color: black;
	color: white;
	font-size: 32pt;
	bottom: 15px;
	right: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 3px #fff;
}

@media only screen and (max-width: 900px) {

	.links {
		top: 0px;
	}

	#top.nacl > .links::before {
		content: 'NACL';
		left: 5px;
	}

	#top {
		height: 55px;
	}
	
	#top > .logo {
		display: none;
	}
	
	.game-summary {
		width: 80%;
	}
}
	
#footer {
	display: none;
}