html, body {
	margin: 0px;			
	font-family: 'Raleway', sans-serif;
}

.no-header-image {
	height: 60px;
}

#picture-album > img {
	width: 32%;
	margin-right: 1%;
	margin-top: 1%;
	cursor: pointer;
}

#big-picture {
	position: fixed;
	top: 5%;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	box-shadow: 0px 0px 0px 3px #fff;
	display: none;
}

#big-picture > img {
	height: 100%;
	width: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.title:hover {
	text-decoration: none;
}

.blue-text,
a {
	color: #0071bc;
}

.red-text {
	color: #cc0000;
}

.header,
.section {
	width: 100vw;
	position: relative;
	margin-bottom: 20px;
}

.content {
	margin-left: 18%;
	margin-right: 18%;
	font-size: 14pt;
	text-align: justify;
}

.content > .line {
	margin-left: 25px;
	margin-top: 5px;
}

.content > .return {
	margin-top: 8px;
}

.content > .return > a {
	margin-right: 35px;
}

.header > #header-background {
	width: 90%;
	margin-left: 5%;
	margin-top: 80px;
}

.title {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 36px;
	letter-spacing: 3px;
}

.header > .title {
	position: absolute;
	top: 10px;
	left: 5%;
	/*
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	*/
	color: #444;
}

.header > .title > img {
	height: 35px;
	vertical-align: middle;
	margin-top: -8px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: white;
}

.header > .links {
	position: absolute;
	top: 10px;
	right: 5%;
	height: 65px;
}

.header > .links > a {
	text-decoration: none;
	color: inherit;
}

.header > .links > a > img {
	height: 25px;
	vertical-align: middle;
}

.section > .title {
	margin: 0px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 760px) {
    .header > .title {
		font-size: 6vw;
	}
	
	.header > .title > img {
		display: none;
	}
}