html, body {
	margin: 0px;			
	font-family: 'Raleway', sans-serif;
}

body {
	padding-bottom: 20px;
}

.no-header-image {
	height: 60px;
}

#picture-album > img {
	width: 32%;
	margin-right: 1%;
	margin-top: 1%;
	cursor: pointer;
}

#shroud {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #000;
	opacity: 0.5;
	display: none;
}

#big-picture {
	position: fixed;
	top: 5%;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	box-shadow: 0px 0px 0px 3px #fff;
	display: none;
}

#big-picture > img {
	height: 100%;
	width: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.title:hover {
	text-decoration: none;
}

.blue-text,
a {
	color: #0071bc;
}

.red-text {
	color: #cc0000;
}

.header,
.section,
.footer {
	position: relative;
	margin-bottom: 20px;
}

.content {
	margin-left: 18%;
	margin-right: 18%;
	font-size: 14pt;
	text-align: justify;
	position: relative;
}

.content > .line {
	margin-left: 25px;
	margin-top: 5px;
}

.content > .return {
	margin-top: 8px;
}

.content > .return > a {
	margin-right: 35px;
}

.header > #weather {
	position: absolute;
	top: 10px;
	height: 65px;
	right: 10%;
	color: #444;
	line-height: 65px;
	vertical-align: middle;
}

.header > #weather > img {
	width: 50px;
	vertical-align: middle;
}

.header > #header-background {
	width: 90%;
	margin-left: 5%;
	margin-top: 80px;
}

.title {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 36px;
	letter-spacing: 3px;
}

.header > .title {
	position: absolute;
	top: 10px;
	left: 5%;
	/*
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	*/
	color: #444;
}

.header > .title > img {
	height: 35px;
	vertical-align: middle;
	margin-top: -8px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: white;
}

.header > .links {
	position: absolute;
	top: 10px;
	right: 5%;
	height: 65px;
	line-height: 65px;
}

.header > .links > a {
	text-decoration: none;
	color: inherit;
}

.header > .links > a > img {
	height: 25px;
	vertical-align: middle;
}

.section > .title {
	margin: 0px;
	width: 100%;
	text-align: center;
}

.center {
	text-align: center;
}

.name > .first-name {
	font-family: 'Raleway', sans-serif;
}

.name > .last-name {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.content > .person {
	padding-bottom: 20px;
	margin-bottom: 20px;
	/*border-bottom: solid thin #444;*/
	position: relative;
	min-height: 250px;
}

.content > .person > img {
	height: 200px;
	border-radius: 10px;
	position: absolute;
	top: 0px;
}

.content > .person > .number {
	position: absolute;
	top: 60px;
	opacity: 0.2;
	font-size: 100pt;
	font-family: 'Palanquin Dark', sans-serif;
	line-height: 100%;
}

.content > .person > .name {
	position: absolute;
	top: 0px;
	font-size: 28pt;
	font-family: 'Palanquin Dark', sans-serif;
}

.content > .person > .title { 
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
	position: absolute;
	top: 55px;
	letter-spacing: normal;
}

.content > .person > .bio {
	position: relative;
	padding-top: 90px;
	width: calc(100% - 350px);
}

.content > .person:nth-child(odd) > img {
	left: 0px;
}

.content > .person:nth-child(odd) > .number {
	left: 210px;
}

.content > .person:nth-child(odd) > .name {
	left: 210px;
}

.content > .person:nth-child(odd) > .title {
	left: 210px;
}

.content > .person:nth-child(odd) > .bio {
	margin-left: 350px;
	text-align: left;
}

.content > .person:nth-child(even) > img {
	right: 0px;
}

.content > .person:nth-child(even) > .number {
	right: 210px;
}

.content > .person:nth-child(even) > .name {
	right: 210px;
}

.content > .person:nth-child(even) > .title {
	right: 210px;
}

.content > .person:nth-child(even) > .bio {
	text-align: left;
}

.footer {
	margin-top: 100px;
	text-align: center;
}

.footer > .title {
	color: #bbb;
	font-size: 10pt;
}

.footer > .title > img {
	height: 14px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: white;
}

#big-video {
	margin-left: 5%;
	width: 90%;
	text-align: center;
}

.timeline {
	position: relative;
	margin-top: 120px;
	margin-bottom: 120px;
}

.timeline > .center-line {
	position: absolute;
	top: -40px;
	bottom: -40px;
	left: calc(50% - 7.5px);
	right: calc(50% - 7.5px);
	background-color: #cc0000;
}

.timeline > .center-line::before {
	position: absolute;
	content: ' ';
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: #cc0000;
	top: -15px;
	left: -7.5px;
}

.timeline > .center-line::after {
	position: absolute;
	content: ' ';
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: #cc0000;
	bottom: -15px;
	left: -7.5px;
}

.timeline > .content {
	width: calc(39.5% - 20px);
	padding: 10px;
}

.timeline > .content:not(first-child) {
	margin-top: -40px;
}

.timeline > .content:nth-child(even) {
	margin-left: 10%;
	margin-right: auto;
	text-align: right;
}

.timeline > .content:nth-child(odd) {
	margin-left: auto;
	margin-right: 10%;
}

.timeline > .content > .date {
	font-family: 'Palanquin Dark', sans-serif;
	color: #cc0000;
	position: relative;
}

.timeline > .content:nth-child(even) > .date::before {
	content: ' ';
	position: absolute;
	top: -2px;
	right: -20px;
	height: 5px;
	left: 75%;
	background-color: #cc0000;
}

.timeline > .content:nth-child(odd) > .date::before {
	content: ' ';
	position: absolute;
	top: -2px;
	left: -20px;
	height: 5px;
	right: 75%;
	background-color: #cc0000;
}

@media screen and (max-width: 760px) {
    .header > .title {
		font-size: 18pt;
	}
	
	.header > .title > img {
		height: 13pt;
		margin-top: -3px;
		margin-right: 3px;
		border-radius: 3px;
		background-color: white;
	}

	.section > .title {
		font-size: 18pt;
	}
	
	.section > .content {
		font-size: 12pt;
	}

	.header > .links {
		height: 40px;
		line-height: 40px;
	}

	.content {
		text-align: left;
	}

	.content > .return > a {
		display: block;
		margin: 0px;
	}
}